@import "./../data/colors.scss";
@import "./../data/mixins.scss";

.checkout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    padding: 5%;
    .upper-section {
      margin: 2% 0;
      .title {
        font-size: 24px;
        font-weight: 600;
      }
      .error {
        width: 100%;
        @include error-box;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
    .content {
      .responsive-table {
        li {
          border-radius: 3px;
          padding: 25px 30px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
          align-items: center;
          #quantity {
            width: 50%;
            border-radius: 5px;
            border-color: $secondary-gray;
          }
          .button {
            padding: 8px;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            margin: 0 1rem;
            @include button-primary;
          }
          .product-image {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            border-radius: 50%;
          }
        }
        .table-header {
          background-color: #95a5a6;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.03em;

          .product{
            margin-right: 20%;
          }

          .qty{
            margin-left: 18%;
          }

          .subtotal{
            margin-left: 13%;
          }
        }
        .table-row {
          background-color: #ffffff;
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        }
        .col-1 {
          flex-basis: 25%;
          display: flex;
          align-items: center;
        }
        .col-2 {
          flex-basis: 20%;
        }
        .col-3 {
          flex-basis: 15%;
        }
        .col-4 {
          flex-basis: 20%;
        }

        @media all and (max-width: 767px) {
          .table-header {
            display: none;
          }
          // .table-row {
          // }
          li {
            display: block;
          }
          .col {
            flex-basis: 100%;
          }
          .col {
            display: flex;
            padding: 10px 0;
            &:before {
              color: #6c7a89;
              padding-right: 10px;
              content: attr(data-label);
              flex-basis: 50%;
              text-align: right;
            }
          }
        }
      }
      .lower-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .button {
          padding: 8px;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
          margin: 0 1rem;
          @include button-primary;
        }
        .total {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .end-section{
        margin-top: 20px;
        margin-left: 62%;
        input[type=text]{
          margin-top: 10px;
          border-radius: 5px;
          border-color: $secondary-gray;
          width: 100%;
        }
        .button{
          margin-top: 10px;
          padding: 8px;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
          @include button-primary;
          // width: 100%;
          input{
            background-color: transparent;
            width: 100%;
          }
        }

        .error-message{
          color: $primary-red;
          margin-top: 5px;
          font-size: 18px;
        }
      }
    }
  }
}
