.products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .container {
  padding: 5%;
}

.products .container .success-container {
  padding: 5px 10px;
  margin: 20px 0;
  background: #ffffff;
  -webkit-box-shadow: 1px solid #ffffff;
          box-shadow: 1px solid #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #5e5df0;
}

.products .container .success-container .error {
  margin: 5px 0;
}

.products .container .upper-section {
  margin: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products .container .upper-section .title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.products .container .upper-section .product-configurations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products .container .upper-section .product-configurations #search {
  border-radius: 5px;
  color: #6c7280;
}

.products .container .upper-section .product-configurations .button {
  background-color: #5da5f0;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  background: #5da5f0;
  -webkit-box-shadow: #5da5f0 0 10px 20px -10px;
          box-shadow: #5da5f0 0 10px 20px -10px;
  color: #ffffff;
  outline: 0 solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #5da5f0;
}

.products .container .upper-section .product-configurations .button:hover {
  background: #ffffff;
  color: #5da5f0;
}

.products .container .upper-section .product-configurations input[type="submit"] {
  background-color: #5e5df0;
  background: #5e5df0;
  -webkit-box-shadow: #5e5df0 0 10px 20px -10px;
          box-shadow: #5e5df0 0 10px 20px -10px;
  color: #ffffff;
  outline: 0 solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #5e5df0;
}

.products .container .upper-section .product-configurations input[type="submit"]:hover {
  background: #ffffff;
  color: #5e5df0;
}

.products .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .container .content .product-card {
  height: 350px;
  width: 300px;
  margin: 15px 10px;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.products .container .content .product-card .upper-content {
  height: 85%;
  width: 100%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #6c7280;
}

.products .container .content .product-card .upper-content #preview {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.products .container .content .product-card .upper-content .name {
  font-size: 18px;
  font-weight: 600;
}

.products .container .content .product-card .upper-content .price {
  color: #6c7280;
}

.products .container .content .product-card .upper-content .category {
  font-size: 12px;
  color: #ffffff;
  background: #5e5df0;
  padding: 5px 10px;
  border-radius: 15px;
  opacity: 0.8;
  margin-top: 5px;
}

.products .container .content .product-card .lower-content {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .container .content .product-card .lower-content .notice {
  color: #ff4742;
}

.products .container .content .product-card .lower-content .button {
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 14px;
}

.products .container .content .product-card .lower-content .good {
  background: #5da5f0;
  -webkit-box-shadow: #5da5f0 0 10px 20px -10px;
          box-shadow: #5da5f0 0 10px 20px -10px;
  color: #ffffff;
  outline: 0 solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #5da5f0;
}

.products .container .content .product-card .lower-content .good:hover {
  background: #ffffff;
  color: #5da5f0;
}

.products .container .content .product-card .lower-content .bad {
  background: #ff4742;
  border: 1px solid #ff4742;
  -webkit-box-shadow: #ff4742 0 10px 20px -10px;
          box-shadow: #ff4742 0 10px 20px -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.products .container .content .product-card .lower-content .bad:hover {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}
/*# sourceMappingURL=products.css.map */